label {
  cursor:pointer;
}

.cb2-calendar {
  width:100%;
  border-collapse:collapse;
}
.cb2-hidden {
  display:none;
}
.cb2-debug-control span {
  position:absolute;
	top:0px;
	left:40px;
	z-index:40;
}
.cb2-debug-control {
	font-size:10px;
  color:#777;
  cursor:pointer;
}
.cb2-dangerous {
  color:red;
}
.cb2-debug {
	background-color:#fac83f;
	border:1px solid #888;
	font-family: Sans;
  color: #000;
  font-size:10px;
	padding:4px;
}
body .cb2-low-debug {
	color: #777;
}
.cb2-high-debug {
	font-weight:bold;
}
.cb2-notice {
  background-color:#fac83f;
  border:1px solid #888;
}

/* ---------------------- layout */
.cb2-calendar > tbody  > tr {
  padding:5px;
  margin:2px;
  overflow-y:hidden;
}
.cb2-calendar > .entry-content > table.cb2-subposts > tbody > tr > td.cb2-empty-pre-cell {
  border:none;
}
.cb2-calendar > .entry-content > table.cb2-subposts > tbody  > tr > td > .entry-content > table.cb2-subposts {
  position:relative;
  height:200px;
}
.cb2-calendar > .entry-content > table.cb2-subposts > tbody  > tr > td > .entry-content > table.cb2-subposts > tbody > tr {
  /* position:absolute; */
  border:1px solid #d7d7d7;
}
.cb2-calendar > .entry-content > table.cb2-subposts > tbody  > tr > td > .entry-content > table.cb2-subposts > tbody > tr > td {
  position:relative;
}
.cb2-calendar > .entry-content > table.cb2-subposts > tbody  > tr > td {
  border:1px solid #d7d7d7;
  vertical-align: top;
  overflow:hidden;
  padding:5px;
}

/* ---------------------- indicators */
.cb2-indicators ul {
  list-style:none;
	padding:0px;
}
.cb2-indicators ul li {
  float:left;
}
.cb2-indicators ul .cb2-indicator-collect,
.cb2-indicators ul .cb2-indicator-return,
.cb2-indicators ul .cb2-indicator-use {
	display:none;
}

.cb2-indicator-no-collect {
  background-color:#88ff88;
}
.cb2-indicator-no-return {
  background-color:#ff8888;
}
.cb2-indicator-no-use {
  background-color:#ff0000;
}

/* ---------------------- fields */
.type-PeriodItem .entry-header {
	display:none;
}
.type-day > .entry-header > .entry-title {
  color:#888;
	margin:0px;
}
.cb2-calendar .type-day.cb2-current > .entry-header > .entry-title {
  color:#111;
  font-weight:bold;
  background-color:#c7c7c7;
}
.cb2-calendar .type-week.cb2-current  > td:first-child,
.cb2-calendar .type-month.cb2-current > td:first-child {
	border-left:3px double #dd0000;
}
.cb2-time {
  margin-right:4px;
  color:#444444;
}
.cb2-field-name {
	display:none;
}
.cb2-period-period-status-type-name .cb2-field-value {
  color:#fff;
  background-color:#000;
  font-size:10px;
  padding:1px 4px;
}

.cb2-booked {
	background-color:#ffdddd;
}

/* ---------------------- Real World Object types */
.cb2-period-group-type {
  font-size: 10px;
  font-weight:bold;
  color:#fff;
  background-color:#000;
  margin-right:2px;
}
.cb2-period-group-type .cb2-field-value {
	writing-mode: vertical-rl;
	text-orientation: upright;
}
.cb2-period-group-type-A .cb2-period-group-type {
}
.cb2-period-group-type-G .cb2-period-group-type {
  background-color:#ff8888;
}
.cb2-period-group-type-L .cb2-period-group-type {
  background-color:#88ff88;
}
.cb2-period-group-type-I .cb2-period-group-type {
  background-color:#8888ff;
}
.cb2-period-group-type-U .cb2-period-group-type {
  background-color:#ffff88;
}
